apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd

resources:
- github.com/argoproj/argo-cd/manifests/cluster-install?ref=stable
- resources/app-of-apps-application.yaml
- resources/AppProject.yaml
- resources/cmp-plugin.yaml
patches:
# Base
- path: patches/argocd-cm.yaml
- path: patches/argocd-cmd-params-cm.yaml
- path: patches/service.yaml
# ArgoCD Vault Plugin
- path: patches/argocd-repo-server.yaml
# Cosmetics
# Revision History Limit
- target:
    group: apps
    version: v1
    kind: Deployment
  patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: dummy
    spec:
      revisionHistoryLimit: 2
- target:
    group: apps
    version: v1
    kind: StatefulSet
  patch: |-
    apiVersion: apps/v1
    kind: StatefulSet
    metadata:
      name: dummy
    spec:
      revisionHistoryLimit: 2