apiVersion: v1
kind: Secret
metadata:
  name: vault-configuration
  namespace: argocd
type: Opaque
stringData:
  AVP_TYPE: vault
  VAULT_ADDR: http://vault.vault.svc:8200
  AVP_AUTH_TYPE: approle
  AVP_ROLE_ID: change-this-uuid-please
  AVP_SECRET_ID: change-this-uuid-please
