---
apiVersion: v1
kind: Secret
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "-2"
    avp.kubernetes.io/path: /homelab/data/kubernetes/backupers
  name: vault-backuper
  namespace: backupers
stringData:
  VAULT_TOKEN: <VAULT_RAFT_TOKEN>
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: vault-backuper
  namespace: backupers
spec:
  schedule: "0 7 * * 0"
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 3
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            app: vault-backuper
        spec:
          nodeSelector:
            kubernetes.io/hostname: k8s-master
          tolerations:
            - key: node-role.kubernetes.io/control-plane
              operator: Exists
              effect: NoSchedule
            - key: node-role.kubernetes.io/master
              operator: Exists
              effect: NoSchedule
          restartPolicy: Never
          containers:
            - name: vault-backup
              image: hashicorp/vault:1.20.4
              imagePullPolicy: IfNotPresent
              envFrom:
                - secretRef:
                    name: vault-backuper
              env:
                - name: VAULT_ADDR
                  value: "http://vault.vault.svc:8200"
                - name: VAULT_SKIP_VERIFY
                  value: "true"
                - name: BACKUP_DIR
                  value: /share/Backup/Vault
                - name: RETENTION
                  value: "3"

              volumeMounts:
                - name: share
                  mountPath: /share

              command:
                - /bin/sh
                - -c
                - |
                  set -euo pipefail

                  if [ -z "${VAULT_ADDR:-}" ] || [ -z "${VAULT_TOKEN:-}" ]; then
                    echo "VAULT_ADDR или VAULT_TOKEN не заданы"
                    exit 1
                  fi

                  mkdir -p "${BACKUP_DIR}"

                  export VAULT_ADDR
                  export VAULT_TOKEN
                  export VAULT_SKIP_VERIFY="${VAULT_SKIP_VERIFY:-}"

                  TS="$(date +%F-%H-%M-%S)"
                  SNAPSHOT_FILE="${BACKUP_DIR}/raft-${TS}.snap"

                  vault operator raft snapshot save "${SNAPSHOT_FILE}"
                  ls -1t "${BACKUP_DIR}"/vault-raft-*.snap 2>/dev/null | \
                    tail -n +$((RETENTION + 1)) | \
                    xargs -r rm -f || true
                  echo "Created backup $SNAPSHOT_FILE"

          volumes:
            - name: share
              persistentVolumeClaim:
                claimName: smb-share-pvc
