apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mosquitto-data
  namespace: mosquitto
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mosquitto
  namespace: mosquitto
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mosquitto
  template:
    metadata:
      labels:
        app: mosquitto
    spec:
      containers:
      - name: mosquitto
        image: eclipse-mosquitto
        ports:
        - containerPort: 1883
        - containerPort: 9001
        volumeMounts:
        - mountPath: "/mosquitto/config/"
          name: config
        - mountPath: "/mosquitto/data/"
          name: data
      volumes:
      - name: config
        configMap:
          name: mosquitto-config
      - name: data
        persistentVolumeClaim:
          claimName: mosquitto-data
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: mosquitto-config
  namespace: mosquitto
data:
  mosquitto.conf: |

    persistence true
    persistence_location /mosquitto/data/

    log_dest stdout

    # Enforce user authentication
    allow_anonymous false
    password_file /mosquitto/config/passwd

    # Default listener for direct MQTT traffic
    listener 1883
    protocol mqtt

    # Listener for MQTT traffic over Websockets
    listener 9001
    protocol websockets

  # Your user credentials generated with mosquitto_passwd go here
  passwd: |
    iot:$7$101$FQIlzDNVq2zotNMu$AeTMgsD2dKhK4IeKyyEHy8far2up7WpCcNgRQIoU6x5B88fZ7KDVmx2AwkYmvmxhwUlY219vBl6UojKcFHMz+g==

---
apiVersion: v1
kind: Service
metadata:
  name: mosquitto
  namespace: mosquitto
spec:
  type: LoadBalancer
  loadBalancerIP: 10.30.0.220
  selector:
    app: mosquitto
  ports:
  - port: 1883
    name: mqtt
  - port: 9001
    name: ws