apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: vault
  namespace: argocd
spec:
  project: homelab
  source:
    chart: vault
    repoURL: https://helm.releases.hashicorp.com
    targetRevision: 0.31.0
    helm:
      releaseName: vault
      values: |
        server:
          dataStorage:
            size: 5Gi
            storageClass: null
          standalone:
            enabled: true
            config: |-
              ui = true
              cluster_name = "homelab"
              max_lease_ttl = "87600h"
              listener "tcp" {
                tls_disable = 1
                address = "[::]:8200"
                cluster_address = "[::]:8201"
                telemetry {
                 unauthenticated_metrics_access = "true"
                }
              }
              storage "raft" {
                path = "/vault/data"
              }
              telemetry {
                prometheus_retention_time = "30s"
                disable_hostname = true
              }
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
  destination:
    server: "https://kubernetes.default.svc"
    namespace: vault