apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/name: argocd-cm
    app.kubernetes.io/part-of: argocd
  name: argocd-cm
data:
  accounts.navanin: login
  kustomize.buildOptions: --enable-helm
  repositories: |
    - name: homelab
      type: git
      url: https://github.com/navanin/homelab.git